<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunjinrong.springbootmybatis.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.yunjinrong.springbootmybatis.model.User">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="age" jdbcType="INTEGER" property="age" />
	</resultMap>
	<select id="selectAgeByName" resultType="String">
		SELECT age FROM USER
		WHERE name = #{ name,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from user
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.yunjinrong.springbootmybatis.model.User">
		insert into user (id, name,
		password,
		age)
		values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{age,jdbcType=INTEGER})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.yunjinrong.springbootmybatis.model.User">
		update user
		set
		name = #{name,jdbcType=VARCHAR},
		password =
		#{password,jdbcType=VARCHAR},
		age = #{age,jdbcType=INTEGER}
		where id =
		#{id,jdbcType=BIGINT}
	</update>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select id, name, password, age
		from user
		where id =
		#{id,jdbcType=BIGINT}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select id, name, password, age
		from user
	</select>
	<select id="findUserList" resultMap="BaseResultMap">
		select id, name, password, age
		from user
	</select>

</mapper>